<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ru.rbs.commons.logs.MaskingPatternLayout">
                <patternsProperty>
                    <![CDATA[
                            {
                                "\"?pan\"?[ ]*[=:][ ]*\"[^\"]*\""   :   "11~**~5",
                                "targetPan[ ]*=[ ]*\"[^\"]*\""      :   "17~**~5",
                                "year[ ]*=[ ]*\"[^\"]*\""           :   "year=\"****\"",
                                "cvc[ ]*=[ ]*\"[^\"]*\""            :   "cvc=\"****\"",
                                "cvv[ ]*=[ ]*\"[^\"]*\""            :   "cvv=\"****\"",
                                "month[ ]*=[ ]*\"[^\"]*\""          :   "month=\"****\"",
                                "\"?expiry\"?[ ]*[=:][ ]*\"[^\"]*\"" :   "expiry=\"****\"",
                                ">([^>]*)<\\/([^>]*):Password>"     :   ">****<\\/Password>",
                                ">([^>]*)<\/pan>"                   :   "7~**~10",
                                ">([^>]*)<\/cvc>"                   :   "1~**~6"
                            }
                            ]]>
                </patternsProperty>
                <pattern>%d %-5level | %thread | qr-pos | %logger{36}:%line - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.springframework.web" level="info" />
    <logger name="org.springframework.context" level="debug" />
    <logger name="org.hibernate.tool" level="debug" />
    <logger name="ru.qrhandshake.qrpos" level="debug" />
    <logger name="ru.bpc" level="debug" />
    <logger name="ru.qrhandshake.qrpos.service" level="trace" />
    <logger name="ru.qrhandshake.qrpos.integration" level="trace" />

</configuration>